<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Got accepted"} %>
	<%= render :partial =>"layouts/profiles/cell", :locals => {:paginate => @accepted, :h => "Profiles who Accepted", :hsm => "Accepted my Interest", :past => "accepted"} %>
</div>