<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Interested in me"} %>
	<%= render :partial =>"layouts/profiles/cell", :locals => {:paginate => @incomings, :h => "Profiles", :hsm => "Interested in Me", :past => "showed interest"} %>
</div>