<div id="main" role="main">
<%= render :partial => "layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
<%= render :partial =>"layouts/profiles/pin", :locals => {:paginate => @matching, :h => "All", :hsm => ""} %>
</div>