<div id="main" role="main">
<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
<%#= render :partial =>"layouts/sparks", :locals => {:sparks => @sparks} %>
<%= render :partial =>"layouts/profiles/pin", :locals => {:paginate => @matching, :h => "Matching", :hsm => "Profiles"} %>
</div>