<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <%= render :partial =>'layouts/profiles/largewell', :locals => {:paginate => @profiles_paginate_matches, :param => "matches"}%>
  </div>
</div>