<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Interested in me"} %>
	<%= render :partial =>"layouts/sparks", :locals => {:sparks => @sparks} %>
	<%= render :partial =>"layouts/profiles/pin", :locals => {:paginate => @online, :h => "Online", :hsm => "Profiles"} %>
</div>