<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Rejected me"} %>
	<%= render :partial =>"layouts/profiles/cell", :locals => {:paginate => @rejected, :h => "Profiles", :hsm => "Not interested in me", :past => "responded"} %>
</div>