<%= render :partial =>"layouts/sparks", :locals => {:sparks => @sparks} %>
<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Interests rejected you"} %>
<%= render :partial =>"layouts/profiles/pin", :locals => {:paginate => @rejected, :h => "My Received", :hsm => "in Responses"} %>
</div>