<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Recently Jooined"} %>
	<%#= render :partial =>"layouts/sparks", :locals => {:sparks => @sparks} %>
	<%= render :partial =>"layouts/profiles/pin", :locals => {:paginate => @recentlyjoined, :h => "Profiles", :hsm => "with photos"} %>
</div>