<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Search results"} %>
	<%#= render :partial =>"layouts/sparks", :locals => {:sparks => @sparks} %>
	<%= render :partial =>"layouts/profiles/pin", :locals => {:paginate => @search, :h => "Search", :hsm => "Results"} %>
</div>