<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Saved profiles"} %>
	<%= render :partial =>"layouts/profiles/cell", :locals => {:paginate => @shortlists, :h => "My", :hsm => "Shortlisted profiles", :past => "Saved this profile"} %>
</div>