profiles/show

<br>

Current user <%= current_user.profile.inspect %>
<br>
<h2>Showing User </h2>

Showing User <%= @showing_user.inspect %>


<!-- Show visitors of this profile owner -->

<br>
<h1>Is this is the user profile ?</h1>

<%= @is_owner.inspect %>


<%= link_to 'Back', profiles_path %>
