profiles/show

<br>

Current user <%= current_user.profiles.first.inspect %>
<br>
<h2>Showing User </h2>

<%= @his_profile.inspect %>


<!-- Show visitors of this profile owner -->

<br>
<h1>Is this is the user profile ?</h1>

<%= @is_owner.inspect %>


<%= link_to 'Back', profiles_path %>
