<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Profile visitors"} %>
	<%= render :partial =>"layouts/profiles/cell", :locals => {:paginate => @visitors, :h => "Profile", :hsm => "Visitors", :past => "visited"} %>
</div>