<div id="main" role="main">
	<%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Waiting"} %>
	<%= render :partial =>"layouts/profiles/cell", :locals => {:paginate => @waiting, :h => "", :hsm => "Waiting for Responses", :past => "You expressed interest"} %>
</div>