<div class="jarviswidget" id="wid-id-12">
  <header>
    <span class="widget-icon">
      <i class="fa fa-pencil"></i>
    </span>
    <h2>About</h2>
  </header>
  <!-- widget div-->
  <div>
    <%= form_tag({:action=>'modify_about'}, {:remote => true, "parsley-validate" => ""}) do %>
      <input type="hidden" name="me" id="about-me" type="hidden">
      <button type="submit" id="submit-about-me" class="btn btn-success pull-right hidden">
        Save
      </button>
    <% end %>
    <!-- widget content -->
    <div class="widget-body no-padding">
      <div class=""><%= raw @user[:about][:me] %></div>
    </div>
    <!-- end widget content -->
  </div>
</div>
