<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget" id="wid-id-4">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2>Modify Desires</h2>
  </header>
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body">
      <%= @user[:desire].inspect %>
    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</div>
