<div class="jarviswidget" id="wid-id-11">
  <header>
    <span class="widget-icon">
      <i class="fa fa-check txt-color-green"></i>
    </span>
    <h2>Edit Mode</h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <%= @user[:education].inspect %>
    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</div>
