<h3>Family
<% if  current_user.profile.id == @user[:profile][:id] %>
	<button class="btn btn-xs btn-default hidden-xs" data-toggle="modal" data-target="#modal-edit-family">
		<i class="fa fa-edit"></i> edit
</button>
<% end %>
</h3>
<% categories = {'values' => nil, 'size' => nil, 'status' => nil, 'family_income' => "Lacs", 'father' => nil, 'mother' => nil, 'brother' => nil, 'sister' => nil, 'profile_handler' => nil} %>
<dl class="dl-horizontal">
  <% categories.each do |category, post_fix| %>
    <% heading = category.gsub "_", " " %>
    <dt class="txt-color-green"><%= heading.titleize %> <i class="fa fa-angle-right fa-sm"></i></dt>
    <dd><span>
      <%= @user[:family][category].nil? ? @user[:family][category] : (@user[:family][category].gsub ";"," to ") %>
      <%= @user[:family][category].nil? ? "" : post_fix %>
      </span>
    </dd>
  <% end %>
</dl>
