<div class="jarviswidget" id="wid-id-8">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2>Edit Hobbies</h2>
  </header>
  <div>
    <!-- widget div-->
    <!-- widget content -->
    <div class="widget-body">
      <%= @user[:hobby].inspect %>
    </div>
    <!-- end widget content -->
  </div>
</div>
