<h1><small>Images</small></h1>
  <% user[:image].each do |image| %>
  <a href="<%= image.avatar.url(:original) %>" data-lightbox="roadtrip">
    <%= image_tag image.avatar.url(:tiny) %>
  </a>
  <% end %>
<% if current_user.profile.id == @user[:profile][:id] %>
<hr>
  <button class="btn btn-primary bg-color-pinkDark btn-md pull-right hidden-xs" data-toggle="modal" data-target="#modal-edit-images">
    <i class="fa fa-upload"></i>
    Upload more
  </button>
<% end %>
