<div id="myCarousel-2" class="carousel slide">
  <ol class="carousel-indicators">
    <% user[:image].each_with_index do |image, counter| %>
      <% active = (counter == 0) ? "active": "" %>
      <li data-target="#myCarousel-2" data-slide-to="<%= counter %>" class="<%= active %>"></li>
    <% end %></ol>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <% user[:image].each_with_index do |image, counter| %>
      <% active = (counter == 0) ? "item active": "item" %>
      <div class="<%= active %>">
        <%= image_tag image.avatar.url(:medium) %></div>
    <% end %></div>
    <a class="left carousel-control" href="#myCarousel-2" data-slide="prev">
  </a>
  <a class="right carousel-control" href="#myCarousel-2" data-slide="next">
  </a>
</div>
<% if current_user.profile.id == @user[:profile][:id] %>
  <button class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#modal-edit-images">
    <i class="fa fa-edit"></i> Upload More Images
  </button>
  <% end %>