<h3>Kundali
<% if  current_user.profile.id == user[:profile][:id] %>
	<button class="btn btn-xs btn-default hidden-xs" data-toggle="modal" data-target="#modal-edit-kundali">
		<i class="fa fa-edit"></i> edit
</button>
<% end %>
</h3>
<% categories = {'birth_country' => "fa fa-globe", 'birth_city' => "fa fa-map-marker", 'tob' => "fa fa-clock-o", 'manglik' => "fa fa-exclamation-circle", 'sun_sign' => "fa fa-certificate", 'moon_sign' => "fa fa-sun-o", 'nakshatra' => "fa fa-star"} %>
<dl class="dl-horizontal">
  <% categories.each do |category, icon| %>
  <% icon = "fa fa-angle-right" %>
    <% heading = category.gsub "_", " " %>
    <dt class="txt-color-green"><%= heading.titleize %> <i class="<%= icon %>"></i></dt>
    <dd><span><%= user[:kundali][category] %></span></dd>
  <% end %>
  <dt class="txt-color-green">DOB <i class="fa fa-angle-right"></i></dt>
  <dd><span><%= user[:dob] %></span></dd>
</dl>
