<h3>My Lifestyle
<% if current_user.profile.id == user[:profile][:id] %>
  <button class="btn btn-xs btn-default hidden-xs" data-toggle="modal" data-target="#modal-edit-lifestyle">
    <i class="fa fa-edit"></i> edit
</button>
<% end %>
</h3>
<% categories = {'diet' => "fa fa-leaf", 'smoke' => "fa fa-times", 'drink' => "fa fa-beer", 'complexion' => "fa fa-smile-o", 'blood' => "fa fa-medkit", 'height' => "fa fa-male",'weight' => "fa fa-male", 'own_house' => "fa fa-home", 'own_car' => "fa fa-truck", 'pet' => "fa fa-heart"} %>
<dl class="dl-horizontal">
  <% categories.each do |category, icon| %>
  <% icon = "fa fa-angle-right" %>
    <% heading = category.gsub "_", " " %>
    <dt class="txt-color-green"><%= heading.titleize %> <i class="<%= icon %>"></i></dt>
    <dd>
    	<span>
    		<%= user[:lifestyle][category].to_s.gsub ",", ", " %>
    	</span>
    </dd>
  <% end %>
</dl>
