<div class="jarviswidget" id="wid-id-9">
  <header>
    <span class="widget-icon">
      <i class="fa fa-check txt-color-green"></i>
    </span>
    <h2>Edit Mode</h2>
  </header>
  <div>
  <div class="widget-body">
    <%= @user[:lifestyle].inspect %>
    <!--/ Success states for elements -->
  </div>
  <!-- end widget content -->
</div>
</div>