<h3>Occupation
<% if  current_user.profile.id == @user[:profile][:id] %>
	<button class="btn btn-xs btn-default hidden-xs" data-toggle="modal" data-target="#modal-edit-occupation">
		<i class="fa fa-edit"></i> edit
</button>
<% end %>
</h3>
<% categories = ["work_status", "occupation", "company", "annual_income", "settling_abroad"] %>
<dl class="dl-horizontal">
  <% categories.each do |category| %>
    <% heading = category.gsub "_", " " %>
    <dt class="txt-color-green"><%= heading.titleize %> <i class="fa fa-angle-right fa-sm"></i></dt>
    <dd><span>
      <%= @user[:occupation][category] %>
      </span>
    </dd>
  <% end %>
</dl>
