    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center error-box">
              <h2 class="font-xl"><strong><i class="fa fa-fw fa-thumbs-up fa-lg"></i>
                  Give us a
                  <u>Thumbs Up !</u>
                </strong></h2>
              <br />
              <p class="lead">
                Connect with us on any of the social platforms you like. Your
                <b>Feedback</b>
                is always welcome to help improve our services
              </p>
              <p class="font-md">
                <b>Don't have a feedback.. Still just drop by to say
                  <span class="font-lg">
                    Hi !</span></b>
              </p>
              <br>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="list-inline">
                    <li>
                      <h2><a href="https://www.facebook.com/pages/Shaadi-Match/647212955344894" target="_blank"><i class="fa fa-fw fa-facebook fa-lg"></i></a>acebook</h2>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>