<div class="row">
  <div class="col-sm-12">
    <div class="well-sm bg-color-white">
      <h1>
        My
        <span class="semi-bold">
          <%= title %></span></h1>
      <%= render :partial =>'layouts/search', :locals=>{:css_id => css_id} %>
      <table class="table table-hover table-striped" id="<%= id %>">
        <thead>
          <tr>
            <th><i class="fa fa-picture-o"></i>
              Image</th>
            <th><i class="fa fa-file"></i>
              Name</th>
            <th><i class="fa fa-sun-o"></i>
              Caste</th>
            <th><i class="fa fa-location-arrow"></i>
              Location</th>
            <th><i class="fa fa-eye"></i>
              Visitors</th>
            <th><i class="fa fa-calender"></i>
              Age</th>
            <th><i class="fa fa-calender"></i>
              Posted By</th>
            <th><i class="fa fa-user"></i>
              Action</th>
            <th><i class="fa fa-circle"></i>
              Last Online</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
