<!-- Not Used anywhere for the time being Please see explore_controller -->
<div class="row">
  <div class="col-sm-12 bg-color-white pin">
        <h1>
      <span class="semi-bold">Matching</span>
      Profiles</h1>
    <% paginate.each do |user_id| %>
     <%= render :partial =>'layouts/searchsnippets', :locals=>{:user => profiles[user_id]} %>
    <% end %>
    </div>
    <%= will_paginate paginate, :class =>"flickr_pagination", :param_name => param %>
  </div>