<div id="login" class="animated fadeInDown">
  <div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
      <div class="row">
        <%= render :partial =>'layouts/signuptext'%>
        <%= render :partial =>'layouts/signuptext2'%>
        <div id="grad1">
          <%= image_tag "fotolia/7.jpg", :style=> "width:100%;" %>
        </div>
      </div>
    </div>
  </div>
</div>
