<div id="login">
  <div id="main" role="main">
    <!-- MAIN CONTENT -->
    <div id="content">
      <div class="row">
        <%= render :partial =>'layouts/signuptext'%>
        <legend></legend>
        <%= render :partial =>'layouts/signuptext2'%>
      </div>
    </div>
  </div>
</div>
