<div class="span6 feature">
  <div class="img">
    <h4>Contact Details</h4>
    <small>Private. Contact details are only shown when you accept an interest</small>
  </div>
  <div class="text">
  <%= @user[:contact].inspect %>
  </div>
</div>
