<div class="span6 feature">
  <div class="flexslider">
    <ul class="slides">
      <% @user[:image].each do |image| %>
        <li>
          <%= image_tag image.avatar.url(:medium) %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
