<div class="span5">
  <div class="text">
    <h4>Awesome portfolio item</h4>
    <p>
      Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
      <button class="btn btn-primary">Buttons</button>
      stars etc here
      <h4>Awesome portfolio item</h4>
      <h4>Awesome portfolio item</h4>
      <p>
        Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
        <button class="btn btn-primary">Buttons</button>
        stars etc here
        <h4>Awesome portfolio item</h4>
        <h4>Awesome portfolio item</h4>
        <p>
          Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
    Showing Basic criterion
          <button class="btn btn-primary">Buttons</button>
          stars etc here
        </div>
      </div>
