<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Meet Our Team.."} %>
  <!-- MAIN CONTENT -->
  <div id="content" class="animated fadeInDown">
  <%= render :partial => "layouts/contact/connect" %>
  </div>
</div>