<div class="span6 feature">
  <div class="img">
    <h4>Education</h4>
  </div>
  <div class="text">
    <div class="form">
      <%= form_tag({:action=>'modify_education'}, {:remote => true}) do %>
        <input id="select-school" name="school" value="Inception,Dark" class="selectized">
        <input id="select-grad-college" name="grad_college" value="Inception,Dark" class="selectized">
        <input id="select-grad" name="grad" value="Inception,Dark" class="selectized">
        <input id="select-post-grad" name="post_grad" value="Inception,Dark" class="selectized">
        <input id="select-highest-degree" name="highest_degree" value="Inception,Dark,And" class="selectized">
        <legend></legend>
        <%= submit_tag "Save", class: 'btn btn-success pull-right pull-right' %>
      <% end %>
    </div>
  </div>
</div>
