<div class="span3">
        <%= form_tag ({:action => "modify_avatar"}), {:multipart => true } do %>
        <%= file_field_tag "file", :name=>"avatar" %>
        <button type="submit" class="btn btn-success btn-small">Upload</button>
      <% end %>

  <div class="form">
    <%= form_tag({:action=>'modify_image'}, {:authenticity_token => true, :multipart => true, :remote => true, :class => 'dropzone', :id => 'my-dropzone'}) do %>
    <% end %>
  </div>
</div>
