<script type="text/javascript">
	new Dropzone(".dropzone")
</script>
<div class="span5 right_box">
    <%= form_tag({:action=>'modify_image'}, {:authenticity_token => true, :multipart => true, :remote => true, :class => 'dropzone', :id => 'my-dropzone'}) do %>
    <% end %>
  </div>
