<div class="span6 feature">
  <div class="img">
    <%= image_tag("features-ico5.png") %>
  </div>
  <div class="text">
    <h6>db: Kundali</h6>
    <div class="row form">
      <%= form_tag({:action=>'modify'}, {:remote => true}) do %>
        <input type="hidden" name="model" value="kundali">
        <!-- Get the value from DB -->
        <select id="select-birth-country" name="birth_country" value="Other" class="selectized"></select>
        <select id="select-birth-city" name="birth_city" value="Other" class="selectized"></select>
        <input type="text" name="dob" data-behaviour='datepicker' value="02/25/1985" style="width:200px;">
        <select id="select-tob" name="sub_tob" value="Other" class="selectized"></select>
        <select id="select-manglik" name="manglik" value="Other" class="selectized"></select>
        <select id="select-sun-sign" name="sun_sign" value="Other" class="selectized"></select>
        <select id="select-moon-sign" name="moon_sign" value="Other" class="selectized"></select>
        <select id="select-nakshatra" name="nakshatra" value="Other" class="selectized"></select>
        <%= submit_tag "Save", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
