<div class="span5 feature">
  <div class="form">
    <%= form_tag({:action=>'remove_image'}, {:remote => true}) do %>
      <div class="flexslider">
        <ul class="slides">
          <% @user[:image].each do |image| %>
            <li>
              <%= image_tag image.avatar.url(:medium) %>
              <input type="hidden" name="<%= image.id %>" value="<%= image.id %>">
            <% end %>
          </li>
        </ul>
        <button type="submit" id="remove-image" class="btn btn-link pull-right">
          <i class="icon-trash"></i></button>
      <% end %>
    </div>
  </div>
</div>
