<div class="span5">
  <div class="form">
    <%= form_tag({:action=>'modify_image'}, {:authenticity_token => true, :multipart => true, :remote => true, :class => 'dropzone', :id => 'my-dropzone'}) do %>
    <% end %>
  </div>
</div>
