<div class="span6 feature">
  <div class="form">
    <%= form_tag({:action=>'remove_image'}, {:remote => true}) do %>
      <button type="submit" class="btn btn-danger">Delete
        <i class="icon-trash"></i></button>
      <div class="flexslider">
        <ul class="slides">
          <% @images.each do |image| %>
            <li>
              <%= image_tag image.avatar.url(:medium) %>
              <input type="hidden" name="id" value="<%= image.id %>">
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
