html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden !important;
  /*background: url('../mybg.png') #ffffff;*/
  background-color: #C0DEED;
}

body {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  overflow:hidden;
  background-image: url('/assets/bg.png');

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #C0DEED;
  /*background: #e9eaed;*/
  /*direction: ltr;*/
}

/*
	 * MAIN
	 */
article.sortable-grid {
  min-height: 30px;
}

/*
	 * SMART FORMS
	 */
.smart-form *,
.smart-form *:after,
.smart-form *:before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.smart-form .btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.smart-form .radio + .radio,
.smart-form .checkbox + .checkbox {
  margin-top: 0;
}
.smart-form footer .btn {
  float: right;
  height: 31px;
  margin: 10px 0 0 5px;
  padding: 0 22px;
  font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.smart-form legend {
  padding-top: 15px;
}
.smart-form {
  margin: 0;
  outline: none;
  color: #666;
  position: relative;
}
.smart-form header {
  display: block;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  background: white;
  font-size: 16px;
  font-weight: 300;
  color: #232323;
  margin: 10px 14px 0;
}
.smart-form fieldset {
  display: block;
  padding: 25px 14px 5px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
.smart-form fieldset + fieldset {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.smart-form section {
  margin-bottom: 15px;
  position: relative;
}
.smart-form footer {
  display: block;
  padding: 7px 14px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(248, 248, 248, 0.9);
}
.smart-form footer:after {
  content: '';
  display: table;
  clear: both;
}
.smart-form .label {
  display: block;
  margin-bottom: 6px;
  line-height: 19px;
  font-weight: 400;
  font-size: 13px;
  color: #333;
  text-align: left;
}
.smart-form .label.col {
  margin: 0;
  padding-top: 7px;
}
.smart-form .note,
.note {
  margin-top: 6px;
  padding: 0 1px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
}
.note {
  margin-top: 2px;
  font-size: 10px;
}
.smart-form .note a {
  font-size: 13px;
}
.smart-form .input,
.smart-form .select,
.smart-form .textarea,
.smart-form .radio,
.smart-form .checkbox,
.smart-form .toggle,
.smart-form .button {
  position: relative;
  display: block;
  font-weight: 400;
}
.smart-form .input input,
.smart-form .select select,
.smart-form .textarea textarea {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 8px 10px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  background: #fff;
  font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #404040;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*
		 * Radio and checkboxes
		 */
.smart-form .radio,
.smart-form .checkbox {
  margin-bottom: 4px;
  padding-left: 25px;
  font-size: 15px;
  line-height: 25px;
  color: #404040;
  cursor: pointer;
  font-size: 13px;
}
.smart-form .radio:last-child,
.smart-form .checkbox:last-child {
  margin-bottom: 0;
}
.smart-form .radio input,
.smart-form .checkbox input {
  position: absolute;
  left: -9999px;
}
.smart-form .radio i,
.smart-form .checkbox i {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 17px;
  height: 17px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  background: #FFF;
}
.smart-form .radio i {
  border-radius: 50%;
}
.smart-form .radio input + i:after,
.smart-form .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.smart-form .radio input + i:after {
  content: '';
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.smart-form .checkbox input + i:after {
  content: '\f00c';
  top: -1px;
  left: 1px;
  width: 15px;
  height: 15px;
  font: normal 16px/19px FontAwesome;
  text-align: center;
}
.smart-form .checkbox input:checked:hover + i:after {
  content: '\f00d';
}
.smart-form .checkbox input:checked:disabled:hover + i:after {
  content: '\f00c';
}
.smart-form .radio input:checked + i:after,
.smart-form .checkbox input:checked + i:after {
  opacity: 1;
}
.smart-form .inline-group {
  margin: 0 -30px -4px 0;
}
.smart-form .inline-group:after {
  content: '';
  display: table;
  clear: both;
}
.smart-form .inline-group .radio,
.smart-form .inline-group .checkbox {
  float: left;
  margin-right: 30px;
}
.smart-form .inline-group .radio:last-child,
.smart-form .inline-group .checkbox:last-child {
  margin-bottom: 4px;
}
/*
		 * toggles
		 */
.smart-form .toggle {
  margin-bottom: 4px;
  padding-right: 61px;
  /*font-size: 15px;*/
  line-height: 25px;
  color: #404040;
  cursor: pointer;
}
.smart-form .toggle:last-child {
  margin-bottom: 0;
}
.smart-form .toggle input {
  position: absolute;
  left: -9999px;
}
.smart-form .toggle i {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  display: block;
  width: 49px;
  height: 17px;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  background: #fff;
}
.smart-form .toggle i:after {
  content: attr(data-swchoff-text);
  position: absolute;
  top: 2px;
  right: 8px;
  left: 8px;
  font-style: normal;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  text-align: left;
  color: #5f5f5f;
}
.smart-form .toggle i:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  opacity: 1;
/*  transition: right 0.2s;
  -o-transition: right 0.2s;
  -ms-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -webkit-transition: right 0.2s;*/
}
.smart-form .toggle input:checked + i:after {
  content: attr(data-swchon-text);
  text-align: right;
}
.smart-form .toggle input:checked + i:before {
  right: 36px;
}
/*
		 * ratings
		 */
.smart-form .rating {
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 25px;
  color: #404040;
}
.smart-form .rating:last-child {
  margin-bottom: 0;
}
.smart-form .rating input {
  position: absolute;
  left: -9999px;
}
.smart-form .rating label {
  display: block;
  float: right;
  height: 17px;
  margin-top: 5px;
  padding: 0 2px;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
}
/*
		 * buttons
		 */
.smart-form .button {
  float: right;
  height: 31px;
  overflow: hidden;
  margin: 10px 0 0 5px;
  padding: 0 25px;
  outline: none;
  border: 0;
  font: 300 15px/31px 'Open Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.smart-form .icon-append,
.smart-form .icon-prepend {
  position: absolute;
  top: 5px;
  width: 22px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.smart-form .icon-append {
  right: 5px;
  padding-left: 3px;
  border-left-width: 1px;
  border-left-style: solid;
}
.smart-form .icon-prepend {
  left: 5px;
  padding-right: 3px;
  border-right-width: 1px;
  border-right-style: solid;
}
.smart-form .input .icon-prepend + input,
.smart-form .textarea .icon-prepend + textarea {
  padding-left: 37px;
}
.smart-form .input .icon-append + input,
.smart-form .textarea .icon-append + textarea {
  padding-right: 37px;
}
.smart-form .input .icon-prepend + .icon-append + input,
.smart-form .textarea .icon-prepend + .icon-append + textarea {
  padding-left: 37px;
}
/*
		 * grid
		 */
.smart-form .row {
  margin: 0 -15px;
}
.smart-form .row:after {
  content: '';
  display: table;
  clear: both;
}
.smart-form .col {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.smart-form .col-1 {
  width: 8.33%;
}
.smart-form .col-2 {
  width: 16.66%;
}
.smart-form .col-3 {
  width: 25%;
}
.smart-form .col-4 {
  width: 33.33%;
}
.smart-form .col-5 {
  width: 41.66%;
}
.smart-form .col-6 {
  width: 50%;
}
.smart-form .col-8 {
  width: 66.67%;
}
.smart-form .col-9 {
  width: 75%;
}
.smart-form .col-10 {
  width: 83.33%;
}
@media screen and (max-width: 600px) {
  .smart-form .col {
    float: none;
    width: 100%;
  }
}


.smart-form .input input,
.smart-form .select select,
.smart-form .textarea textarea,
.smart-form .radio i,
.smart-form .checkbox i,
.smart-form .toggle i,
.smart-form .icon-append,
.smart-form .icon-prepend {
  border-color: #BDBDBD;
/*  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;*/
}
.smart-form .toggle i:before {
  background-color: #3276B1;
}

.smart-form .button {
  background-color: #3276B1;
  opacity: 0.8;
 /* transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;*/
}
.smart-form .button.button-secondary {
  background-color: #b3b3b3;
}
.smart-form .icon-append,
.smart-form .icon-prepend {
  color: #A2A2A2;
}


/*
		 * Large, small and extra small fields
		 */
.smart-form input.input-lg {
  height: 44px;
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.33;
}
.smart-form input.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.smart-form input.input-xs {
  height: 24px;
  padding: 2px 10px;
  font-size: 11px;
  line-height: 1.5;
}
/* SELECT */
.smart-form select.input-sm {
  height: 30px;
  line-height: 15px;
  font-size: 12px;
}
.smart-form select.input-sm + i {
  height: 10px;
}
.smart-form select.input-lg {
  height: 44px;
  line-height: 22px;
  font-size: 17px;
}
.smart-form select.input-lg + i {
  height: 11px;
  top: 17px;
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  min-width: 214px;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 24px;
  height: 20px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #555555;
}
.datepicker td.old,
.datepicker td.new {
  color: #555555;
}
.datepicker td.active,
.datepicker td.active:hover {
  background: #3276b1;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  background: #3276b1;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.datepicker td span.old {
  color: #555555;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 19.5px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}


/* 
 * RIBBON
 */
.ribbon {
  position: absolute;
  right: 9px;
  top: -4px;
}

#chat-container {
  position: absolute;
  width: 250px;
  height: 270px;
  z-index: 2;
  border-left: 1px solid #CDCECF;
  right: -251px;
  top: 0px;
  background: #fff;
/*  transition-duration: .25s;
  -webkit-transition-duration: .25s;
  -moz-transition-duration: .25s;
  -o-transition-duration: .25s;
  -ms-transition-duration: .25s;*/
}

.chat-body {
  background: #FAFAFA;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.04);
  display: block;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #fff;
  border-top: none;
}
.chat-body ul {
  margin: 0;
  padding: 0;
}
.chat-body li.message {
  display: block;
  position: relative;
  margin: 20px 20px 0;
}
.chat-body li:first-child {
  margin-top: 10px;
}
.chat-body li.message img {
  display: inline-block;
  border-left: 4px solid #fff;
  position: absolute;
}
.chat-body li.message img.online {
  border-left-color: #00a300;
}
.chat-body li.message img.offline {
  border-left-color: #ddd;
}
.chat-body li.message img.busy {
  border-left-color: #A90329;
}
.chat-body li.message img.away {
  border-left-color: #ffc40d;
}
.chat-body li.message .message-text {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin-left: 65px;
  line-height: normal;
}
.chat-body li.message .message-text time {
  position: absolute;
  top: 1px;
  right: 0px;
  font-size: 10px;
  line-height: 10px;
  color: #AFAFAF;
}
.chat-body li.message .message-text .chat-file:nth-child(3) {
  margin-top: 15px;
}
.chat-body li.message .message-text .chat-file {
  display: block;
  margin: 3px 0;
  padding: 4px;
  border: 1px dotted #ddd;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: right;
/*  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;*/
}
.chat-body li.message .message-text .chat-file.row-fluid [class*="span"] {
  min-height: 10px !important;
}
.chat-body li.message .message-text .chat-file b {
  font-style: italic;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.chat-body li.message .message-text a.username {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  vertical-align: top;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: -1px;
  text-decoration: none !important;
}

.textarea-div {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-bottom: none;
  margin: 10px 0 0;
}
.typearea {
  cursor: text;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90px;
  padding: 5px 25px 5px 5px;
  position: relative;
  border-bottom: 1px solid #EEE;
}


/*
	 * TEXT COLOR
	 */
.txt-color-blue {
  color: #57889c !important;
}
.txt-color-blueLight {
  color: #92a2a8 !important;
}
.txt-color-blueDark {
  color: #4c4f53 !important;
}
.txt-color-green {
  color: #356e35 !important;
}
.txt-color-greenLight {
  color: #71843f !important;
}
.txt-color-greenDark {
  color: #496949 !important;
}
.txt-color-red {
  color: #a90329 !important;
}
.txt-color-yellow {
  color: #b09b5b !important;
}
.txt-color-orange {
  color: #b19a6b !important;
}
.txt-color-orangeDark {
  color: #a57225 !important;
}
.txt-color-pink {
  color: #ac5287 !important;
}
.txt-color-pinkDark {
  color: #a8829f !important;
}
.txt-color-purple {
  color: #6e587a !important;
}
.txt-color-darken {
  color: #404040 !important;
}
.txt-color-lighten {
  color: #d5e7ec !important;
}
.txt-color-white {
  color: #ffffff !important;
}
.txt-color-grayDark {
  color: #525252 !important;
}
.txt-color-magenta {
  color: #6e3671 !important;
}
.txt-color-teal {
  color: #568a89 !important;
}
.txt-color-redLight {
  color: #a65858 !important;
}
/*
	 * BACKGROUNDS
	 */
.bg-color-blue {
  background-color: #57889c !important;
}
.bg-color-blueLight {
  background-color: #92a2a8 !important;
}
.bg-color-blueDark {
  background-color: #4c4f53 !important;
}
.bg-color-green {
  background-color: #356e35 !important;
}
.bg-color-greenLight {
  background-color: #71843f !important;
}
.bg-color-greenDark {
  background-color: #496949 !important;
}
.bg-color-red {
  background-color: #a90329 !important;
}
.bg-color-yellow {
  background-color: #b09b5b !important;
}
.bg-color-orange {
  background-color: #c79121 !important;
}
.bg-color-orangeDark {
  background-color: #a57225 !important;
}
.bg-color-pink {
  background-color: #ac5287 !important;
}
.bg-color-pinkDark {
  background-color: #a8829f !important;
}
.bg-color-purple {
  background-color: #6e587a !important;
}
.bg-color-darken {
  background-color: #404040 !important;
}
.bg-color-lighten {
  background-color: #d5e7ec !important;
}
.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-grayDark {
  background-color: #525252 !important;
}
.bg-color-magenta {
  background-color: #6e3671 !important;
}
.bg-color-teal {
  background-color: #568a89 !important;
}
.bg-color-redLight {
  background-color: #a65858 !important;
}



.terms-body {
  max-height: 400px;
  overflow: auto;
}


/*
 * INBOX
 */
.table-wrap {
  overflow: auto;
}

#inbox-table {
  font-size: 13px;
  border-top: none;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
#inbox-table tbody tr:hover {
  cursor: pointer;
  background: #E4E4E4;
}
#inbox-table tr td {
  border-right: none;
  border-left: none;
  line-height: 26px;
  padding: 6px 4px 7px !important;
}
#inbox-table .inbox-table-icon {
  padding-left: 15px !important;
}
#inbox-table tbody tr th {
  overflow: hidden;
}
#inbox-table.table tbody > tr > td {
  border-color: #fff !important;
}

.inbox-table-icon,
.inbox-data-attachment {
  width: 28px;
  text-align: left;
  padding-left: 12px !important;
  padding-right: 0px !important;
}
.inbox-data-from {
  width: 200px;
}
.inbox-data-from > :first-child {
  width: 200px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inbox-data-date {
  width: 80px;
  padding-left: 7px !important;
  padding-right: 0px !important;
}
.inbox-data-message > :first-child {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 27px;
  color: #8A8A8A;
}

.unread td {
  background: #ffffff;
}
.unread .inbox-data-message > :first-child > :first-child,
.unread .inbox-data-from > :first-child,
.unread .inbox-data-date > :first-child {
  font-weight: bold;
}
tr.highlight td,
tr.unread.highlight td {
  background: #ffffcc !important;
  /*#ffffcc;*/

  color: #333333;
}

/*
 * PROFILE PAGE
 */
.profile-pic {
  text-align: right;
}
.profile-pic > img {
  border-radius: 0%;
  position: relative;
  border: 5px solid #ffffff;
  background-color: white;
  top: -30px;
  display: inline-block;
  text-align: right;
  z-index: 4;
  width: 120px;
  margin-bottom: -30px;
}
.profile-carousel .carousel-inner {
  max-height: 150px;
}
.friends-list li {
  margin-bottom: 10px;
}
.friends-list img {
  width: 65px;
  border: 1px solid #ffffff;
  outline: 1px solid #bfbfbf;
}

a:hover,
a:active,
a:focus,
button,
button:active,
button:focus,
object,
embed,
input::-moz-focus-inner {
  outline: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  font-weight: 300;
}
.page-title {
  margin: 12px 0 28px;
}
.page-title span {
  font-size: 16px;
  color: #333333;
  display: inline-block;
  vertical-align: 1px;
}
label {
  font-weight: normal;
}
*:focus {
  outline: 0 !important;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.input-sm,
.input-lg,
.input-xs,
.form-control {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.input-xs {
  height: 24px;
  padding: 2px 10px;
  font-size: 11px;
  line-height: 1.5;
}

.btn {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  padding: 6px 12px;
  transition: all 0.25s linear 0s;
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -ms-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
}
.btn-lg {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}
.btn-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 1.5;
  padding: 4px 8px;
}
.btn-xs {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 1px 5px;
}
.btn-lg {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.471;
  padding: 10px 20px;
}
.btn-thin {
  border: 1px solid #BDC3C7;
  color: #BDC3C7;
  background: none;
}
.btn-default {
  background-color: #BDC3C7;
  color: #FFFFFF;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: #CACFD2;
  border-color: #CACFD2;
  color: #FFFFFF;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background: #A1A6A9;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
  background-color: #BDC3C7;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
  background-color: #1ABC9C;
}
.btn-info {
  background-color: #3498DB;
  color: #FFFFFF;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: #5DADE2;
  border-color: #5DADE2;
  color: #FFFFFF;
}
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background: #2C81BA;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info.active[disabled], fieldset[disabled] .btn-info.active {
  background-color: #3498DB;
}
.btn-danger {
  background-color: #E74C3C;
  color: #FFFFFF;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #EC7063;
  border-color: #EC7063;
  color: #FFFFFF;
}
.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
  background: #C44133;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger.active {
  background-color: #E74C3C;
}
.btn-success {
  background-color: #2ECC71;
  color: #FFFFFF;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background-color: #58D68D;
  border-color: #58D68D;
  color: #FFFFFF;
}
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
  background: #27AD60;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
  background-color: #2ECC71;
}
.btn-warning {
  background-color: #F1C40F;
  color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background-color: #F5D313;
  border-color: #F5D313;
  color: #FFFFFF;
}
.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  background: #CDA70D;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning.active {
  background-color: #F1C40F;
}
.btn-inverse {
  background-color: #34495E;
  color: #FFFFFF;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
  background-color: #415B76;
  border-color: #415B76;
  color: #FFFFFF;
}
.btn-inverse:active, .btn-inverse.active, .open .dropdown-toggle.btn-inverse {
  background: #2C3E50;
}
.btn-inverse.disabled, .btn-inverse[disabled], fieldset[disabled] .btn-inverse, .btn-inverse.disabled:hover, .btn-inverse[disabled]:hover, fieldset[disabled] .btn-inverse:hover, .btn-inverse.disabled:focus, .btn-inverse[disabled]:focus, fieldset[disabled] .btn-inverse:focus, .btn-inverse.disabled:active, .btn-inverse[disabled]:active, fieldset[disabled] .btn-inverse:active, .btn-inverse.disabled.active, .btn-inverse.active[disabled], fieldset[disabled] .btn-inverse.active {
  background-color: #34495E;
}

#content {
  padding: 10px 14px;
  position: relative;
  left: 0px;
}
body.container {
  position: relative;
  padding: 0px;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
  box-shadow: 0 2px 70px rgba(0, 0, 0, 0.45);
  height: auto;
  overflow: hidden;
}


.padding-5 {
  padding: 5px !important;
}
.padding-7 {
  padding: 7px !important;
}
.padding-10 {
  padding: 10px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}

/*
 * Headers
 */
h1 {
  letter-spacing: -1px;
  font-size: 24px;
  margin: 10px 0;
}
h1 small {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1px;
}
.lead {
  font-size: 19px;
}
h2 {
  letter-spacing: -1px;
  font-size: 22px;
  margin: 20px 0;
  line-height: normal;
}
h3 {
  display: block;
  font-size: 19px;
  font-weight: 400;
  margin: 20px 0;
  line-height: normal;
}
h4 {
  line-height: normal;
}
h5 {
  font-size: 17px;
  font-weight: 300;
  margin: 10px 0;
  line-height: normal;
}
h6 {
  font-size: 15px;
  margin: 10px 0;
  font-weight: bold;
  line-height: normal;
}

/*
 * Forced text alignments
 */
.text-align-center,
.text-center {
  text-align: center !important;
}
.text-align-left,
.text-left {
  text-align: left !important;
}
.text-align-right,
.text-right {
  text-align: right !important;
}
/*
 * Font Weights
 */
.semi-bold {
  font-weight: 400 !important;
}
.ultra-light {
  font-weight: 300 !important;
}
/*
 * Font Sizes
 */
.font-xs {
  font-size: 85% !important;
}
.font-sm {
  font-size: 95% !important;
}
.font-md {
  font-size: 130% !important;
}
.font-lg {
  font-size: 160% !important;
}
.font-xl {
  font-size: 200% !important;
}
.font-400 {
  font-size: 400% !important;
}


/*
 * ***************************************************
 * MAIN LAYOUT START
 * ***************************************************
 */
aside {
  display: block;
  overflow: hidden;
  background:white;
  min-height: 50%;
  position:fixed;
  /*height:50%;*/
}

/*
 * HEADER GROUP
 */
#header {
  display: block;
  height: 49px;
  position: relative;
  margin: 0;
  padding: 0 13px 0 0;
  background-color: #f3f3f3;
  background-repeat: repeat-x;
}
#header > div {
  display: inline-block;
  vertical-align: middle;
  height: 49px;
  float: left;
}
#header > div.open {
  font-weight: bold;
}
.fixed-header #header {
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.fixed-header #main {
  margin-top: 49px;
}


#header > :first-child,
aside {
  width: 220px;
}
/*
 * LEFT PANEL
 */
#left-panel {
  position: absolute;
  top: 49px;
  left: 0px;
  z-index: 1002;
}
#main {
  display: block;
  /*margin-left: 220px;*/
  padding: 0;
  /*min-height: 500px;*/
}

/*
 * NAV
 * Menu CSS is learnt from: http://experiments.wemakesites.net/css3-treeview.html
 */
.fixed-navigation #left-panel {
  position: fixed;
  z-index: 998;
}
/* All levels */
nav ul li a:active {
  background: #616161 !important;
}
/* All levels */
nav ul {
  width: 100%;
  padding: 40px 28px 25px 0;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 0.5em;
  list-style: none;
  position: relative;
}
/* All levels */
nav ul .active > a {
  color: #fff !important;
  position: relative;
}
/* All levels */
nav ul li.active > a:before {
  content: "\f0d9";
  font-family: FontAwesome;
  display: block;
  height: 27px;
  line-height: normal;
  width: 27px;
  position: absolute;
  right: -21px;
  font-size: 20px;
  color: #eeeeee;
}
nav ul li.active.open > a:before {
  content: "";
}
/* All levels */
nav ul li {
  overflow: hidden;
}
/* All levels */
nav ul li a {
  line-height: normal;
  font-size: 14px;
  padding: 10px 10px 10px 11px;
  color: #a8a8a8;
  display: block;
  font-weight: normal;
  text-decoration: none !important;
}
/* Second level */
nav > ul > li > ul > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
/* Third Level */
nav > ul > li > ul > li > ul > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}
/* All levels */
nav ul li a:focus {
  color: #c9c9c9;
}
/* All levels */
nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* All levels */
nav ul b {
  float: right;
  font-size: 14px;
  margin-top: -1px;
}
/* All levels */
nav ul span.menu-item-parent {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* First level: A, Second level: LI Open */
nav ul li.open > a,
nav ul li.open > a b {
  color: #fff !important;
}
/* First level: Icon */
nav > ul > li > a > i {
  /*font-size: 121%; fa-lg overrides this so..  */
  margin-right: 5px;
  width: 15px;
  display: inline-block;
  text-align: center;
  position: relative;
}
/* First level icon */
nav > ul > li > a > i > em {
  font-size: 9px;
  display: block;
  padding: 2px;
  position: absolute;
  top: -8px;
  right: -6px;
  text-decoration: none;
  font-style: normal;
  background: #ED1C24;
  color: #ffffff;
  min-width: 13px;
  border-radius: 50%;
  max-height: 13px;
  line-height: 8px;
  font-weight: bold;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* Second level switched to relative */
nav ul li li {
  border-bottom: none;
  position: relative;
}
/* Second level: UL */
nav > ul > li > ul::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #7A7A7A;
}
/* Second level: UL LI */
nav > ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  left: 23px;
  top: 16px;
  border-top: 1px solid #7A7A7A;
  z-index: 1;
}
/* Third level: UL LI */
nav > ul ul ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  left: 10px;
  top: 17px;
  border-top: 1px solid transparent;
}
/* Second level and onwards > */
nav > ul ul li a i {
  font-size: 14px !important;
  width: 18px !important;
  text-align: center !important;
}
/* Second and Third level line color */
nav > ul > li:hover > ul::before,
nav > ul > li:hover > ul > li::before {
  border-color: #ACACAC !important;
}
/* Second Level: UL */
nav ul ul {
  margin: 0;
  padding: 0;
  display: none;
  background: rgba(69, 69, 69, 0.6);
}
nav ul ul {
  padding: 7px 0;
}
/* Third Level: UL */
nav ul ul ul {
  background: transparent;
  padding: 0;
}
/* Third Level: LI */
nav ul ul li {
  margin: 0;
  padding: 0;
}
/* Second Level: A */
nav ul ul li > a {
  padding-left: 42px;
  font-size: 14px;
  font-weight: normal;
  outline: 0;
}
/* Second Level: A:hover */
nav ul ul li > a:hover {
  background-color: rgba(69, 69, 69, 0.8);
  color: #ffffff;
}
/* Third Level: A */
nav ul ul ul li a {
  color: #bfbfbf;
  padding: 8px 10px 8px 70px;
  font-size: 14px;
}
/* Third Level: A:hover */
nav ul ul ul li a:hover {
  background-color: #4C4F53;
  color: #ffffff;
}
/* Fourth Level: A */
nav ul ul ul ul li a {
  padding-left: 90px;
}
/* Fifth Level: A */
nav ul ul ul ul ul li a {
  padding-left: 110px;
}
/* Sixth Level: A */
nav ul ul ul ul ul ul li a {
  padding-left: 130px;
}
/* Second level: B */
nav ul ul b {
  color: #B3B3B3;
}
/* Second level: LI:hover B */
nav ul ul > li:hover b {
  color: #D5D9E2;
}

/*
 * ***************************************************
 * MAIN LAYOUT END
 * ***************************************************
 */

/*
 * FORMS
 */
.form-control {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.form hr {
  margin-left: -13px;
  margin-right: -13px;
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}
.form fieldset {
  display: block;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
fieldset {
  position: relative;
}
.form-actions {
  display: block;
  padding: 13px 14px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(249, 249, 249, 0.9);
  margin-top: 25px;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: -13px;
  text-align: right;
}
.well .form-actions {
  margin-left: -19px;
  margin-right: -19px;
  margin-bottom: -19px;
}
.well.well-lg .form-actions {
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: -24px;
}
.well.well-sm .form-actions {
  margin-left: -9px;
  margin-right: -9px;
  margin-bottom: -9px;
}


legend {
  font-weight: 400;
  margin-top: 0px;
  background: none;
}


.form fieldset .form-group:last-child,
.form fieldset .form-group:last-child .note,
.form .form-group:last-child,
.form .form-group:last-child .note {
  margin-bottom: 0;
}


/*
 * WELLS
 */
.well {
  background: #fbfbfb;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 1px #ececec;
  -webkit-box-shadow: 0 1px 1px #ececec;
  -moz-box-shadow: 0 1px 1px #ececec;
  position: relative;
}
.well.well-clean {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
.well.well-glass {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
}
.well.well-light {
  background: #ffffff;
  border: 1px solid #e2e2e2;
}
.well.well-white{
  background: white;
}

/* any wells with custom bg the border will be darkened */
.well[class^="bg-"],
.well[class*=" bg-"] {
  border: 1px solid #555555 !important;
}

/*
 * TABS
 */
.nav-tabs > li > a .badge {
  font-size: 11px;
  padding: 3px 5px 3px 5px;
  opacity: .5;
  margin-left: 5px;
  min-width: 17px;
  font-weight: normal;
}
.nav-tabs > li > a > .fa {
  opacity: .5;
}
.tabs-left .nav-tabs > li > a .badge {
  margin-right: 5px;
  margin-left: 0px;
}
.nav-tabs > li > a .label {
  display: inline-block;
  font-size: 11px;
  margin-left: 5px;
  opacity: .5;
}
.nav-tabs > li.active > a .badge,
.nav-tabs > li.active > a .label,
.nav-tabs > li.active > a > .fa {
  opacity: 1;
}
.nav-tabs > li > a {
  border-radius: 0px;
  color: #333333;
}
.nav-tabs > li.active > a {
  -webkit-box-shadow: 0 -2px 0 #57889c;
  -moz-box-shadow: 0 -2px 0 #57889c;
  box-shadow: 0 -2px 0 #57889c;
  border-top-width: 0px !important;
  margin-top: 1px !important;
  font-weight: bold;
}
.tabs-left .nav-tabs > li.active > a {
  -webkit-box-shadow: -2px 0 0 #57889c;
  -moz-box-shadow: -2px 0 0 #57889c;
  box-shadow: -2px 0 0 #57889c;
  border-top-width: 1px !important;
  border-left: none !important;
  margin-left: 1px !important;
}
.tabs-left .nav-pills > li.active > a {
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
.tabs-right .nav-tabs > li.active > a {
  -webkit-box-shadow: 2px 0 0 #57889c;
  -moz-box-shadow: 2px 0 0 #57889c;
  box-shadow: 2px 0 0 #57889c;
  border-top-width: 1px !important;
  border-right: none !important;
  margin-right: 1px !important;
}
.tabs-below .nav-tabs > li.active > a {
  -webkit-box-shadow: 0 2px 0 #57889c;
  -moz-box-shadow: 0 2px 0 #57889c;
  box-shadow: 0 2px 0 #57889c;
  border-bottom-width: 0px !important;
  border-top: none !important;
  margin-top: 0px !important;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #dddddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li,
.tabs-left > .nav-pills > li,
.tabs-right > .nav-pills > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.tabs-left > .nav-pills > li > a,
.tabs-right > .nav-pills > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs,
.tabs-left > .nav-pills {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #dddddd;
}
.tabs-left > .nav-pills {
  border-right: none;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #d5d5d5 #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #d5d5d5 transparent #d5d5d5 #dddddd;
  *border-right-color: #ffffff;
}
.tabs-left > .tab-content {
  margin-left: 109px;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #dddddd;
  /* DDD */

}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #dddddd #dddddd #dddddd transparent;
  *border-left-color: #ffffff;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #dddddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #dddddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #dddddd #dddddd #dddddd;
  /* tabs */

}
/* bordered tabs */
.nav-tabs.bordered {
  background: #ffffff;
  border: 1px solid #dddddd;
}
.nav-tabs.bordered > :first-child a {
  border-left-width: 0px !important;
}
.nav-tabs.bordered + .tab-content {
  border: 1px solid #dddddd;
  border-top: none;
}
/* bordered tabs top right */
.tabs-pull-right.nav-tabs > li,
.tabs-pull-right.nav-pills > li {
  float: right;
}
.tabs-pull-right.nav-tabs > li:first-child > a,
.tabs-pull-right.nav-pills > li:first-child > a {
  margin-right: 1px;
}
.tabs-pull-right.bordered.nav-tabs > li:first-child > a,
.tabs-pull-right.bordered.nav-pills > li:first-child > a {
  border-left-width: 1px !important;
  margin-right: 0px;
  border-right-width: 0px;
}
/* jarviswidget header first child is tab */
.jarviswidget > header > .nav-tabs.pull-left > li:first-child a {
  border-left-width: 0px !important;
}
/* 
 * WEBKIT IOS HIGHLIGHT COLOR
 * 
 */
a:link,
.btn,
button {
  -webkit-tap-highlight-color: rgba(169, 3, 41, 0.5);
}
.login-info,
.login-info *,
#logo-group *,
.minified .menu-item-parent {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/*
 * BS2 useful classes
 * these classes and its importance was overlooked in BS3
 */
.hidden-desktop {
  display: none !important;
}



/*
 * SHORT CUTS
 */
.pull-right {
  float: right !Important;
}
.pull-left {
  float: left !Important;
}


/*
 * HIDDEN MENU
 */
.hidden-menu #left-panel {
  left: -210px;
  z-index: 1002;
}
.hidden-menu #main {
  margin-left: 10px;
}
.hidden-menu #left-panel:hover {
  left: 0px;
}
.hidden-menu .minifyme {
  display: none;
}
.minified #hide-menu {
  display: none;
}
.btn-header.pull-right {
  margin-left: 6px;
}
.btn-header a > span {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  display: inline-block;
}
.btn-header > :first-child > a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default !important;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  min-width: 30px;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  border: 1px solid #bfbfbf;
  color: #6D6A69;
  font-size: 17px;
  margin: 10px 0 0 0;
}
.btn-header > :first-child > a:hover {
  border: 1px solid #bfbfbf;
  color: #222;
  transition: all 0.0s;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}
.btn-header > :first-child > a:active {
  background-color: #e8e8e8;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}
.hidden-menu #hide-menu > :first-child > a {
  background-color: #e8e8e8;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  border-color: #494949;
}
.hidden-menu #hide-menu > :first-child > a {
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
}
.hidden-menu #hide-menu > :first-child > a:active {
  -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}


/*
 * Air fields 
 * Description: absolute positioned objects
 */
.air {
  position: absolute;
  z-index: 5;
}
.air-bottom {
  bottom: 0px;
}
.air-top {
  top: 0px;
}
.air-top-right {
  top: 0px;
  right: 0px;
}
.air-top-left {
  top: 0px;
  left: 0px;
}
.air-bottom-left {
  bottom: 0px;
  left: 0px;
}
.air-bottom-right {
  bottom: 0px;
  right: 0px;
}
.air-center {
  top: 10px;
  left: 55px;
}

/*
 * Header btn
 */
.header-btn {
  margin-top: 5px;
}

.note-editor {
  border: 1px solid #a9a9a9;
}
.note-editor.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
}
.note-editor.fullscreen .note-editable {
  background-color: #ffffff;
}
.note-editor.fullscreen .note-resizebar {
  display: none;
}
.note-editor.codeview .note-editable {
  display: none;
}
.note-editor.codeview .note-codeable {
  display: block;
}
.note-editor .note-toolbar {
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #a9a9a9;
}
.note-editor .note-toolbar > .btn-group {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 0;
}
.note-editor .note-toolbar .note-table .dropdown-menu {
  min-width: 0;
  padding: 5px;
}
.note-editor .note-toolbar .note-table .dropdown-menu .note-dimension-picker {
  font-size: 18px;
}
.note-editor .note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-mousecatcher {
  position: absolute!important;
  z-index: 3;
  width: 10em;
  height: 10em;
  cursor: pointer;
}
.note-editor .note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-unhighlighted {
  position: relative!important;
  z-index: 1;
  width: 5em;
  height: 5em;
  /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;*/
}
.note-editor .note-toolbar .note-table .dropdown-menu .note-dimension-picker .note-dimension-picker-highlighted {
  position: absolute!important;
  z-index: 2;
  width: 1em;
  height: 1em;
  /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;*/
}
.note-editor .note-toolbar .note-style h1,
.note-editor .note-toolbar .note-style h2,
.note-editor .note-toolbar .note-style h3,
.note-editor .note-toolbar .note-style h4,
.note-editor .note-toolbar .note-style h5,
.note-editor .note-toolbar .note-style h6,
.note-editor .note-toolbar .note-style blockquote {
  margin: 0;
}
.note-editor .note-toolbar .note-color .dropdown-toggle {
  width: 20px;
  padding-left: 5px;
}
.note-editor .note-toolbar .note-color .dropdown-menu {
  min-width: 290px;
}
.note-editor .note-toolbar .note-color .dropdown-menu .btn-group {
  margin: 0;
}
.note-editor .note-toolbar .note-color .dropdown-menu .btn-group:first-child {
  margin: 0 5px;
}
.note-editor .note-toolbar .note-color .dropdown-menu .btn-group .note-palette-title {
  margin: 2px 7px;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
}
.note-editor .note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset {
  padding: 0 3px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.note-editor .note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset:hover {
  background: #eeeeee;
}
.note-editor .note-toolbar .note-para .dropdown-menu {
  min-width: 153px;
  padding: 5px;
}
.note-editor .note-toolbar .note-para li:first-child {
  margin-bottom: 5px;
}
.note-editor .note-statusbar {
  background-color: #f5f5f5;
}
.note-editor .note-statusbar .note-resizebar {
  width: 100%;
  height: 8px;
  cursor: s-resize;
  border-top: 1px solid #a9a9a9;
}
.note-editor .note-statusbar .note-resizebar .note-icon-bar {
  width: 20px;
  margin: 1px auto;
  border-top: 1px solid #a9a9a9;
}
.note-editor .note-popover .popover {
  max-width: none;
}
.note-editor .note-popover .popover .popover-content {
  padding: 5px;
}
.note-editor .note-popover .popover .popover-content a {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.note-editor .note-popover .popover .popover-content .btn-group + .btn-group {
  margin-left: 5px;
}
.note-editor .note-popover .popover .arrow {
  left: 20px;
}
.note-editor .note-handle .note-control-selection {
  position: absolute;
  display: none;
  border: 1px solid #000000;
}
.note-editor .note-handle .note-control-selection > div {
  position: absolute;
}
.note-editor .note-handle .note-control-selection .note-control-selection-bg {
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-opacity: .3;
  -khtml-opacity: .3;
  -moz-opacity: .3;
  opacity: .3;
  -ms-filter: alpha(opacity=30);
  filter: alpha(opacity=30);
}
.note-editor .note-handle .note-control-selection .note-control-handle {
  width: 7px;
  height: 7px;
  border: 1px solid #000000;
}
.note-editor .note-handle .note-control-selection .note-control-holder {
  width: 7px;
  height: 7px;
  border: 1px solid #000000;
}
.note-editor .note-handle .note-control-selection .note-control-sizing {
  width: 7px;
  height: 7px;
  background-color: white;
  border: 1px solid #000000;
}
.note-editor .note-handle .note-control-selection .note-control-nw {
  top: -5px;
  left: -5px;
  border-right: 0;
  border-bottom: 0;
}
.note-editor .note-handle .note-control-selection .note-control-ne {
  top: -5px;
  right: -5px;
  border-bottom: 0;
  border-left: none;
}
.note-editor .note-handle .note-control-selection .note-control-sw {
  bottom: -5px;
  left: -5px;
  border-top: 0;
  border-right: 0;
}
.note-editor .note-handle .note-control-selection .note-control-se {
  right: -5px;
  bottom: -5px;
  cursor: se-resize;
}
.note-editor .note-handle .note-control-selection .note-control-selection-info {
  right: 0;
  bottom: 0;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  color: white;
  background-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-opacity: .7;
  -khtml-opacity: .7;
  -moz-opacity: .7;
  opacity: .7;
  -ms-filter: alpha(opacity=70);
  filter: alpha(opacity=70);
}
.note-editor .note-dialog > div {
  display: none;
}
.note-editor .note-dialog .note-image-dialog .note-dropzone {
  min-height: 200px;
  font-size: 30px;
  line-height: 6;
  color: lightgray;
  text-align: center;
  border: 4px dashed #d3d3d3;
}
.note-editor .note-dialog .note-help-dialog {
  font-size: 12px;
  color: #ccc;
  background: transparent;
  background-color: #222!important;
  border: 0;
  -webkit-opacity: .9;
  -khtml-opacity: .9;
  -moz-opacity: .9;
  opacity: .9;
  -ms-filter: alpha(opacity=90);
  filter: alpha(opacity=90);
}
.note-editor .note-dialog .note-help-dialog .modal-content {
  background: transparent;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.note-editor .note-dialog .note-help-dialog a {
  font-size: 12px;
  color: #ffffff;
}
.note-editor .note-dialog .note-help-dialog .title {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-bottom: #ffffff 1px solid;
}
.note-editor .note-dialog .note-help-dialog .modal-close {
  font-size: 14px;
  color: #dd0;
  cursor: pointer;
}
.note-editor .note-dialog .note-help-dialog .note-shortcut-layout {
  width: 100%;
}
.note-editor .note-dialog .note-help-dialog .note-shortcut-layout td {
  vertical-align: top;
}
.note-editor .note-dialog .note-help-dialog .note-shortcut {
  margin-top: 8px;
}
.note-editor .note-dialog .note-help-dialog .note-shortcut th {
  font-size: 13px;
  color: #dd0;
  text-align: left;
}
.note-editor .note-dialog .note-help-dialog .note-shortcut td:first-child {
  min-width: 110px;
  padding-right: 10px;
  font-family: "Courier New";
  color: #dd0;
  text-align: right;
}
.note-editor .note-editable {
  padding: 10px;
  overflow: scroll;
  outline: 0;
}
.note-editor .note-codeable {
  display: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-family: Menlo, Monaco, monospace, sans-serif;
  font-size: 14px;
  color: #ccc;
  background-color: #222;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}
.note-editor .dropdown-menu {
  min-width: 90px;
}
.note-editor .dropdown-menu.right {
  right: 0;
  left: auto;
}
.note-editor .dropdown-menu.right::before {
  right: 9px;
  left: auto !important;
}
.note-editor .dropdown-menu.right::after {
  right: 10px;
  left: auto !important;
}
.note-editor .dropdown-menu li a i {
  color: deepskyblue;
  visibility: hidden;
}
.note-editor .dropdown-menu li a.checked i {
  visibility: visible;
}
.note-editor .note-color-palette {
  line-height: 1;
}
.note-editor .note-color-palette div .note-color-btn {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  border: 1px solid #ffffff;
}
.note-editor .note-color-palette div .note-color-btn:hover {
  border: 1px solid #000000;
}
/* adjustment */
.no-padding .note-editor {
  border: none;
}
.note-editor .note-editable {
  background-color: rgba(48, 126, 204, 0.05);
}
.note-editor .note-editable:focus {
  background-color: #fff;
}
.note-editor .note-statusbar .note-resizebar {
  border-top: 1px solid #DBDBDB;
}
.note-editor .note-statusbar:hover {
  background: #EEE;
}
.note-editor .note-statusbar:active {
  background: #eaeaea;
}
/*------------------------------------*\
    SuperBox
\*------------------------------------*/
.superbox *,
.superbox *:after,
.superbox *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* SuperBox */
.superbox-list {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 12.5%;
  padding: 5px;
  position: relative;
}
.superbox-list.active:before {
  content: "\f0d8";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: 43%;
  bottom: -34px;
  z-index: 2;
  text-align: center;
  font-size: 45px;
  color: #222222;
}
.superbox-img {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}
.superbox-show {
  text-align: left;
  position: relative;
  background-color: #222222;
  width: 100%;
  float: left;
  padding: 25px 0 12px 25px;
  display: none;
  margin: 5px 0;
}
.superbox-current-img {
  max-width: 100%;
  float: left;
  padding-right: 25px;
  padding-bottom: 13px;
}
.superbox-img:hover {
  opacity: 0.8;
}
.superbox-float {
  float: left;
}
.superbox-close {
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.1s linear 0s;
}
.superbox-close:hover {
  opacity: 1;
}
.superbox-imageinfo {
  display: inline-block;
  max-width: 500px;
  color: #fff;
  padding: 0 25px 0 0;
}
.superbox-imageinfo span {
  font-size: 13px;
  color: #a19994;
  margin-right: -2px;
  padding-top: 10px;
  display: inline-block;
  padding-bottom: 13px;
}
.superbox-imageinfo > :first-child {
  margin-bottom: 10px;
  font-weight: bold;
}
.superbox-imageinfo span p:last-child {
  margin-top: 30px;
}
@media only screen and (min-width: 320px) {
  .superbox-list {
    width: 50%;
  }
}
@media only screen and (min-width: 486px) {
  .superbox-list {
    width: 25%;
  }
}
@media only screen and (min-width: 768px) {
  .superbox-list {
    width: 16.66666667%;
  }
}
@media only screen and (min-width: 1025px) {
  .superbox-list {
    width: 12.5%;
  }
}
@media only screen and (min-width: 1824px) {
  .superbox-list {
    width: 12.5%;
  }
}
