/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*.selectize-input div.item + input { display: none; }*/
.selectized {
  /*font-weight: bold;*/
}

/* pins */
#blog{
  margin-top: 50px;
  /*margin-left: 50px;*/
  margin-left: 100px;
}

/*This is the box*/
#blog .post_row .post{
  background: white;
  margin-left: 0px;
  margin-bottom: 30px;
  margin-right: 20px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #E0E0E0;
  /*box-shadow: 2px 1px 2px 0px #E0E0E0;*/
  width:260px;
  height: 430px;
}

#blog .post_row .post:hover{
  border-color: #01b0eb;
}

#blog .post_row .post .img{
  position: relative;
  text-align: center;
  padding-top: 10px;
}

#blog .post_row .post .author_box{
  margin: 12px auto 20px;
  border-top: 1px solid #EDEDED;
  overflow: hidden;
  text-align: left;
  width: 85%;
  padding-top: 12px;
  font-style: italic;
}

.radius {
  border-radius: 5px;
}

.cell {
  height: auto;
  cursor: pointer;
}
.hover:hover {
  background: black;
}