
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*.selectize-input div.item + input { display: none; }*/
.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}
.divhover:hover{
   background-color:#eceff6;
}
.divhover-light:hover{
   background-color:#f7f7f7;
}


/* Footer
-------------------------------------------------- */
#footer {
    min-height: 260px;
    margin-top: 140px;
    background: url('../mybg.png') #ffffff;
    /*background-color: #252528;*/
    color: #fff;
    padding-top: 35px;
}
#footer .footer_header {
    color: rgb(196, 196, 196);
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15px; 
}

/* recent posts */
#footer .recent_posts {
    margin-left: 0px;
}
#footer .recent_posts .post {
    margin-bottom: 70px;
    width: 93%;
}
#footer .recent_posts .post img {
    float: left;
    margin-right: 20px;
}
#footer .recent_posts .post .date {
    font-weight: bold;
    font-style: italic;
}
#footer .recent_posts .post .title {
    display: block;
    color: #b5b5b6;
    font-size: 14px;
}

/* testimonials */
#footer .testimonials .wrapper {
    margin: 0 auto;
    width: 82%;
}
#footer .testimonials .footer_header {
    margin-left: 30px;
}
#footer .testimonials .quote {
    color: rgb(191, 191, 192);
}
#footer .testimonials .quote span {
    font-size: 32px;
    font-style: italic;
    position: relative;
    top: 5px;
    font-family: Georgia !important;
    float: left;
    margin-right: 8px;
}
#footer .testimonials .author {
    margin-top: 40px;
}
#footer .testimonials .author img {
    float: left;
    margin-right: 15px;
    position: relative;
    top: -6px;
}
#footer .testimonials .name {
    font-size: 13px;
    font-weight: bold;
}
#footer .testimonials .info {
    font-style: italic;
    color: #ccc;
}

/* contact */
#footer .contact {
    text-align: right;
    margin-left: 35px;
}
#footer .contact .footer_header {
    text-align: left;
    margin-left: 35px;
}
#footer .contact input[type="text"],
#footer .contact textarea {
    border: none;
    background-color: #1f1f21;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-family: Lato !important;
    width: 80%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}
#footer .contact input[type="text"]:focus,
#footer .contact textarea:focus {
    border: none;
    box-shadow: none;
    background-color: #000;
}
#footer .contact input[type="text"]:-moz-placeholder,
#footer .contact textarea:-moz-placeholder {
  color: #868687;
}
#footer .contact input[type="text"]::-webkit-input-placeholder,
#footer .contact textarea::-webkit-input-placeholder {
  color: #868687;
}
#footer .contact input[type="text"]:-ms-input-placeholder,
#footer .contact textarea:-ms-input-placeholder {
  color: #868687;
}
#footer .contact input[type="submit"] {
    background-color: #3e3e40;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
}
#footer .contact input[type="submit"]:hover {
    background-color:#2190DB;
}
#footer .credits {
    border-top: 1px solid #343437;
    padding: 10px 0px 60px 0px;
}
#footer .credits .social {
    margin-top: 30px;
    text-align: center;
}
#footer .credits .social a {
    margin: 10px;
}
#footer .credits .copyright {
    color: #a6a6a7;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
}
#footer .credits .social a {
    margin: 10px;
}
#footer .credits .social a span{
    display: inline-block;
    width: 33px;
    height: 33px;
}
#footer .credits .social span.ico1,
#footer .credits .social span.ico1h{
    background-position: 0px 0px;
}
#footer .credits .social span.ico2,
#footer .credits .social span.ico2h{
    background-position: -37px 0px;
}
#footer .credits .social span.ico3,
#footer .credits .social span.ico3h{
    background-position: -75px 0px;
}
#footer .credits .social span.ico4,
#footer .credits .social span.ico4h{
    background-position: -112px -1px;
}
#footer .credits .social span.ico5,
#footer .credits .social span.ico5h{
    background-position: -151px 0px;
}
#footer .credits .social span.ico6,
#footer .credits .social span.ico6h{
    background-position: -188px -1px;
}
#footer .credits .social span.ico7,
#footer .credits .social span.ico7h{
    background-position: -226px 0px;
}
#footer .credits .social a:hover span.socialicons{
    display: none;
}
#footer .credits .social a:hover span.socialicons_h{
    display: inline-block !important;
}
#footer .credits .social span.socialicons_h{
    display: none;
}
.socialicons{
    /*background: url('../img/socialicons.png') no-repeat;*/
    width: 265px;
    height: 36px;
}
.socialicons_h{
    /*background: url('../img/socialicons_h.png') no-repeat;*/
    width: 265px;
    height: 36px;
}

/*Inner Footer*/
#footer .info{
    margin-bottom: 10px;
    margin-left: 0;
}
#footer .info .residence{
    margin-left: 0;
}
#footer .info ul{
    margin: 0;
    padding: 0;
}
#footer .info ul li{
    list-style: none;
    font-size: 16px;
    color: #777E83;
    line-height: 23px;
}
#footer .info ul a{
    color: #777E83;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
}
#footer .info ul a:hover{
    color: #A9B4BB;
}
#footer .info .touch{
    float: right;
}
#footer .info .touch ul li{
    display: inline-block;
    margin-left: 30px;
}

.error-text-3 {
  text-align: center;
  font-size: 150%;
  font-weight: normal;
  font-weight: 70;
  color: black;
  line-height: 3;
  letter-spacing: -0.05em;
  background-image: -webkit-linear-gradient(92deg, #333333, #ed1c24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}
#columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 20px;
  column-fill: auto;
}

@media (max-width: 640px) {
  #columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

.pin {
    width: 100%;
    display: inline-block;
    background: #FEFEFE;
    background: #ffffff;
    /*border: 2px solid #FAFAFA;*/
    /*box-shadow: 0 1px 2px rgba(33, 25, 25, 0.4);*/
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 0px;
    padding-bottom: 15px;
    /*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pin img {
  display:block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin:hover{
   background-color:#ffffff;
}
.shadow-inner {
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  z-index: 1003;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
/*@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
