<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Explore"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="input-group input-group-lg hidden-mobile">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Everything
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li class="active">
              <a href="javascript:void(0)">
                <i class="fa fa-check"></i>
                Everything
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:void(0)">Users</a>
            </li>
            <li>
              <a href="javascript:void(0)">Projects</a>
            </li>
            <li>
              <a href="javascript:void(0)">Sites</a>
            </li>
          </ul>
        </div>
        <input class="form-control input-lg" type="text" placeholder="Search again..." id="search-project">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-fw fa-search fa-lg"></i>
            &nbsp;&nbsp;&nbsp;
          </button>
        </div>
      </div>
    </div>
    <legend></legend>
    <div class="row">
      <% @profiles_paginate.each do |user_id| %>
        <div class="col-sm-6">
          <div class="well well-sm">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="well well-light well-sm no-margin no-padding">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <%= render :partial =>'layouts/avatar', :locals => {:user => @profiles[user_id]} %>
                        <div class="col-sm-6">
                          <%= render :partial =>'layouts/cardinfo', :locals => {:user => @profiles[user_id], :show_profile_flag => true} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- end row -->
    <%= will_paginate @profiles_paginate, :class =>"flickr_pagination" %></div>
  <!-- END MAIN CONTENT -->
</div>
