<%= include_gon %>
<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Search"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well-sm">
          <h3 class="error-text-3"><strong>Search</strong>
            <i>your</i>
            Partner</h3>
          <%= render :partial =>'layouts/search', :locals=> {:css_id => "search-query"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well-sm bg-color-white">
            <table class="table table-hover" id="search">
              <thead>
                <tr>
                  <th><i class="fa fa-picture-o"></i>
                    Image</th>
                  <th><i class="fa fa-file"></i>
                    Name</th>
                  <th><i class="fa fa-sun-o"></i>
                    Religion</th>
                  <th><i class="fa fa-location-arrow"></i>
                    Location</th>
                  <th><i class="fa fa-eye"></i>
                    Visitors</th>
                  <th><i class="fa fa-calender"></i>
                    Posted By</th>
                  <th><i class="fa fa-calender"></i>
                    Age</th>
                  <th><i class="fa fa-user"></i>
                    Action</th>
                  <th><i class="fa fa-circle"></i>
                    Last Online</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%= render :partial =>'layouts/footer'%>