<%= include_gon %>
<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Search"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well well-sm">
          <%= render :partial =>'layouts/search', :locals=> {:css_id => "search-query"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        <div class="well bg-color-white">
          <h3 class="text-primary">People Visited my Profile <small>Secondary text</small></h3>
          <table class="table table-striped table-hover" id="search">
            <thead>
              <tr>
                <th><i class="fa fa-picture-o"></i> Image</th>
                <th><i class="fa fa-picture-o"></i> Profile</th>
                <th><i class="fa fa-picture-o"></i> Religion</th>
                <th><i class="fa fa-picture-o"></i> Location</th>
                <th><i class="fa fa-picture-o"></i> Age</th>
                <th><i class="fa fa-picture-o"></i> Posted By</th>
                <th><i class="fa fa-picture-o"></i> Last Online</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>



      </div>
    </div>
  </div>
</div>
