<%= include_gon %>
<div id="main" role="main">
  <%= render :partial =>
  "layouts/ribbon", :locals => {:papa => "Home", :son => "Search"} %>
  <!-- MAIN CONTENT -->
  <div id="content" class="container pin">
        <h1>
          <span class="semi-bold">Matching</span>
          Profiles
        </h1>
            <%= render :partial =>'layouts/search', :locals=>{:css_id => "search-query"} %>
            <table class="table table-hover" id="search">
              <thead style="display:none;">
                <tr>
                  <th>
                    <i class="fa fa-picture-o"></i>
                    Description
                  </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
  </div>
</div>
