<%= include_gon %>
<div id="main" role="main">
  <%= render :partial =>"layouts/ribbon", :locals => {:papa => "Home", :son => "Search"} %>
  <!-- MAIN CONTENT -->
  <div id="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="well-sm">
          <h3 class="error-text-3"><strong>Search</strong>
            <i>for your</i>
            Partner</h3>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= render :partial =>'layouts/dashboard/searchdata.html.erb', :locals => {:title => "Matches", :id=>"search", :css_id=>"search-query"} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>