<div class="alert alert-block alert-info">
	<a class="close" data-dismiss="alert" href="#">×</a>
	<h4 class="alert-heading">What to Do!</h4>
	<p>
		Please enter your <strong>Contact Details</strong>
		.
                You can enter same numbers for all fields. Your contact numbers will only be shown to users once you accept their interest. Otherwise are kept private..
	</p>
</div>