<header id="header" class="visible-xs hidden-md hidden-lg navbar-fixed-top">
  <div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo">
      <a href="/">
        <%= image_tag "logo-wide.png", :style=>"width:140px;height:50px;" %>
      </a>
    </span>

      </div>
      <div class="pull-right">

        <div id="hide-menu" class="btn-header pull-right">
          <span>
            <a href="javascript:void(0);" title="Collapse Menu">
              <i class="fa fa-bars"></i>
            </a>
          </span>
        </div>

        <div id="logout" class="btn-header transparent pull-right">
          <span>
            <a href="<%= destroy_user_session_path %>
              " title="Sign Out">
              <i class="fa fa-sign-out"></i>
            </a>
          </span>
        </div>
      </div>

    </header>
<!-- END HEADER