<% if !user[:out_response].nil? %>
  <div class="well well-white radius text-center">
  <h5>You expressed interest</h5>
    <div class="well">
  <% if user[:out_response].response == 0 %>
      <span class="txt-color-red"><i class="fa fa-thumbs-down"></i>
        Got Rejected</span>
  <% elsif user[:out_response].response == 1 %>
      <span class="txt-color-green"><i class="fa fa-check"></i>
<%= user[:name] %> has accepted</span>
  <% else %>
      <span class="txt-color-green"><i class="fa fa-bell"></i>
        Waiting for response</span>
  <% end %>
</div>
</div>
<% end %>
<% if !user[:in_response].nil? %>
  <div class="well well-white radius text-center">
  <h5><strong><%= user[:name] %></strong> expressed interest in you !</h5>
  <div class="well">
  <% if user[:in_response].response == 0 %>
  <span class="txt-color-red"><i class="fa fa-thumbs-down"></i> You have Rejected</span>
  <% elsif user[:in_response].response == 1 %>
      <span class="txt-color-green"><i class="fa fa-check-square"></i>
        You have accepted</span>
  <% end %>
</div>
</div>
<% end %>
