<% if  current_user.id != user[:id] && user[:out_response].nil? && user[:in_response].nil? %>
  <%= form_tag({:action=>'interest', :controller => "profiles"}, :remote => true) do %>
    <%= hidden_field_tag 'to_user_id', user[:id] %>
    	<button class="btn btn-success btn-sm interest" type="submit" data-img="<%= user[:avatar].url(:tiny) %>" data-url='<%= link_to "view profile", profile_path(:id =>user[:profile][:id]), :class=>"txt-color-white" %>' data-title="Interest Expressed" data-msg="expressed interest in the profile">
      <i class="fa fa-heart"></i> Interest
    </button>
  <% end %>
  <% elsif current_user.id != user[:id] %>
  <button class="btn btn-default btn-sm" rel="tooltip" data-placement="bottom" data-original-title="<i class='fa fa-check'></i> You have already expressed interest in this profile" data-html="true">
      <i class="fa fa-heart"></i> Expressed
    </button>
<% end %>
