<% if  current_user.id != user[:id] && user[:out_response].nil? && user[:in_response].nil? %>
  <%= form_tag({:action=>'interest', :controller => "profiles"}, :remote => true, :class => "smart-form") do %>
    <%= hidden_field_tag 'to_user_id', user[:id] %>
    <button class="btn btn-info btn-xs interest" type="submit">
      <i class="fa fa-heart"></i> Send interest
    </button>
  <% end %>
<% end %>