<% if  current_user.id != user[:id] && user[:out_response].nil? && user[:in_response].nil? %>
  <%= form_tag({:action=>'interest', :controller => "profiles"}, :remote => true, :class => "") do %>
    <%= hidden_field_tag 'to_user_id', user[:id] %>
    	<button class="btn bg-color-darken txt-color-white interest" type="submit" data-img="<%= user[:avatar].url(:tiny) %>" data-url='<%= link_to "view profile", profile_path(:id =>user[:profile][:id]), :class=>"txt-color-white" %>' data-title="Interest Expressed" data-msg="expressed interest in the profile" rel="tooltip" data-placement="top" data-original-title="Express Interest in this Profile">
      <i class="fa fa-heart"></i> Interest
    </button>
  <% end %>
  <% elsif current_user.id != user[:id] %>
  <button class="btn bg-color-darken txt-color-white" rel="tooltip" data-placement="top" data-original-title="You have already expressed interest in this profile" data-html="true">
      <i class="fa fa-heart"></i> Expressed
    </button>
<% end %>
