<ui class="notification-body">
  <li>
    <span class="unread">
      <a href="javascript:void(0);" class="msg">
        <img src="/images/normal/Male-0.png" alt="" class="air air-top-left margin-top-5" width="40" height="40">
        <span class="from">Christine
          <i class="icon-paperclip"></i></span>
        <span class="subject">Welcome to shaadiMatch!</span>
        <span class="msg-body">Help menu</span>
      </a>
    </span>
  </li>
</ui>
