  <% if time.include? "minute" %>
    <small><label class="badge bg-color-greenLight padding-5">Online</label></small>
  <% else %>
    <small><label class="badge bg-color-red padding-5">Offline</label></small>
  <% end %>