  <% if time.include? "minute" %>
    <small><label class="badge bg-color-greenLight font-xs">Online</label></small>
  <% else %>
    <small><label class="badge font-xs bg-color-red">Offline</label></small>
  <% end %>