  <% if time.include? "minute" %>
    <small><label class="badge bg-color-greenLight">Online</label></small>
  <% else %>
    <small><badge class="badge bg-color-red">Offline</badge></small>
  <% end %>