<!-- RIBBON -->
<!-- <div id="ribbon" class="hidden-xs">
  <ol class="breadcrumb">
    <li>
      <a href="/">
        <%#= papa %></a>
    </li>
    <li>
      <%#= son %></li>
  </ol>
</div>
<br> -->
  <%= render "layouts/navbar" %>