<%= form_tag({:action=>'search'}) do %>
<div class="input-group input-group-lg">
  <% if defined? @query_was  %> 
  <% search_value = @query_was %>
  <% else %>
  <% search_value = "" %>
  <% end %>
  <input class="form-control input-lg" type="text" name="query" placeholder="25 years old or delhi or type anything ..." value="<%= search_value %>">
  <div class="input-group-btn">
    <button type="submit" class="btn btn-success">
      &nbsp;&nbsp;&nbsp;
      <i class="fa fa-fw fa-search fa-lg"></i>
      &nbsp;&nbsp;&nbsp;
    </button>
  </div>
</div>
<% end %>