<%#= form_tag({:action=>'search'}) do %>
  <div class="input-group input-group-lg hidden-mobile">
    <div class="input-group-btn">
      <span class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Filter
      </span>
    </div>
    <input class="form-control input-lg" id="search-query" name="search_query" type="text" placeholder="Search again...">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-default">
        &nbsp;&nbsp;&nbsp;
        <i class="fa fa-fw fa-search fa-lg"></i>
        &nbsp;&nbsp;&nbsp;
      </button>
    </div>
  </div>
<%# end %>
