<% if  current_user.id != user[:id] && user[:shortlist].nil? %>
  <%= form_tag({:action=>'shortlist', :controller => "profiles"}, {:remote => true, :class=>""}) do %>
    <%= hidden_field_tag 'to_user_id', user[:id] %>
    <button class="btn btn-xs btn-success interest radius" data-img="<%= user[:avatar].url(:tiny) %>" data-title="Saved" data-url='<%= link_to "view profile", profile_path(:id =>user[:profile][:id]), :class=>"txt-color-white" %>' data-msg="saved this profile" type="submit" rel="tooltip" data-placement="top" data-original-title="Add to my saved profiles list">+ save
    </button>
  <% end %>
  <% else %>
    <button class="btn btn-xs btn-success hidden" rel="tooltip" data-placement="left" data-original-title="Profile is already saved" data-html="true">+ saved</button>
<% end %>