<!-- Left panel : Navigation area -->
<hr>
<aside id="left-panel">
<!-- <span class="minifyme">
  <i class="fa fa-arrow-circle-left hit"></i>
</span> -->

  <!-- User info -->
  <div class="login-info">
    <span>
    <a class="btn-link" data-toggle="modal" data-target="#modal-edit-avatar">
      <%= image_tag current_user.avatar.url(:thumb), :class => "img-rounded" %>
      </a>
      <!-- User image size is adjusted inside CSS, it should stay as it -->
      <a href="javascript:void(0);" id="show-shortcut">
        <%= link_to truncate(current_user.name, length: 10), profile_path(:id =>current_user.profile.id)%>
      </a>
    </span>
  </div>
  <!-- end user info -->

  <nav>
  <ul>
    <li class="hidden-mobile">
      <a href="/">
        <i class="fa fa-lg fa-fw fa-search"></i>
        <span class="menu-item-parent">Explore Profiles</span>
      </a>
    </li>
    <li>
      <a href="/profiles/visitors">
        <i class="fa fa-lg fa-fw fa-thumbs-up"></i>
        <span class="menu-item-parent">My Visitors</span>
      </a>
    </li>
    <li>
      <a href="/profiles/incomings">
        <i class="fa fa-lg fa-fw fa-heart txt-color-pink"></i>
        <span class="menu-item-parent">Interested</span>
      </a>
    </li>
    <li>
      <a href="/profiles/accepted">
        <i class="fa fa-lg fa-fw fa-check txt-color-green"></i>
        <span class="menu-item-parent">Accepted Me</span>
      </a>
    </li>
    <li>
      <a href="/profiles/outgoings">
        <i class="fa fa-lg fa-fw fa-thumbs-down txt-color-red"></i>
        <span class="menu-item-parent">Rejected</span>
      </a>
    </li>
    <li>
      <a href="/profiles/waiting">
        <i class="fa fa-lg fa-fw fa-bell txt-color-orange"></i>
        <span class="menu-item-parent">Waiting</span>
      </a>
    </li>
    <li>
      <a href="/profiles/shortlists">
        <i class="fa fa-lg fa-fw fa-plus"></i>
        <span class="menu-item-parent">Saved</span>
      </a>
    </li>
    <li>
      <a href="/profiles/<%= current_user.profile.id %>/edit">
        <i class="fa fa-lg fa-fw fa-edit"></i>
        <span class="menu-item-parent">Edit Profile</span>
      </a>
    </li>
    <li>
      <a href="/profiles/<%= current_user.profile.id %>">
        <i class="fa fa-lg fa-fw fa-file"></i>
        <span class="menu-item-parent">Show My Profile</span>
      </a>
    </li>
    <li>
      <a href="/contact">
        <i class="fa fa-lg fa-fw fa-link"></i>
        <span class="menu-item-parent">Connect with Us</span>
      </a>
    </li>
  </ul>
</nav>
</aside>
<!-- END NAVIGATION -->
