<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <%= image_tag "fotolia/7.jpg", :class=>"shadow-box", :style=>"width:700px;" %>
  <br>
  <img src="/images/demo/lady.png">
  <%= image_tag("logo.png") %>
  <div class="hero">
    <div class="login-desc-box-l">
      <h3 class="paragraph-header">
        India's fastest growing Matrimonial website which will keep you indulged with real time updates of visitors.
      </h3>
      <p>
        We pioneered the concept of simplicity in online matrimony service. Our goal is to provide fast & easy to use webservice that help you find your desired life partner. Our main focus will always be your satisfaction and improve our services as we go.
      </p>
    </div>
    </div>
</div>
<script type="text/javascript">
  $.gritter.add({ image: '/images/demo/logo_64.png', title: 'Welcome to shaadiMatch !', text: 'All the best with exploring profiles !' });
</script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#main").bgStretcher({
        images: ["../../images/demo/sample-2.jpg",],
        // slideShow: true,
        // transitionEffect: "fade",
        // nextSlideDelay: 10000,
        imageWidth: 1600,
        imageHeight: 1200
      })
    });
    </script>
