<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
  <%= image_tag("logo.png") %>
  <img src="/images/demo/lady.png">
  <div class="hero">
    <div class="pull-left login-desc-box-l">
      <h3 class="paragraph-header">
        We pioneered the concept of simplicity in online matrimony service. Our goal is to provide fast & easy to use webservice that help you find your desired life partner. Our main focus will always be your satisfaction and improve our services as we go.
      </h3>
    </div>
    <!-- <img src="../images/demo/responseimg.png" class="pull-right display-image"> -->
    </div>
</div>