<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
  <%= image_tag("logo.png") %>
  <div class="hero">
    <div class="pull-left login-desc-box-l">
      <h4 class="paragraph-header">
        We pioneered the concept of simplicity in online matrimony service. Today, we are the world's fastest growing, most trusted and fall under most successful matrimony websites. Our goal is to provide fast & easy to use webservice that help you find your desired life partner. Our main focus will always be your satisfaction and improve our services as we go.
      </h4>
    </div>
    <img src="../images/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5 class="about-heading">About Jeevan - Our Prices ?</h5>
      <p>
      Not to mention, but <strong>Its Free !</strong> Oh yeah, we hate ads & spams too !
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h5 class="about-heading">Beautiful on Mobile and Desktop</h5>
      <p>
        We have brought matrimonial service to a next new level by introducing cutting edge technologies like <strong>Push notifications</strong>, lightening fast surfing and yeah not to mention super fast dashboard of all your history and filtration of results.
      </p>
    </div>
  </div>
</div>