<div class="row">
  <h1 class="error-text-3">
        Real Time <strong>Notifications</strong>
        <br>
      </h1>
    <div class="col-md-12 text-center">
      We've built a great system that allows you to quickly see realtime notifications upon updates. In this short, the moment someone opens your profile or send an interest we do all the magic and in less than a second we send you the notification. You need to use to know it.
      <br>
      <img src="/images/demo/growl.png">
    </div>
</div>
<div class="row">
<h1 class="error-text-3">
        We are <strong>Free</strong>
        <br>
      </h1>
  <div class="col-md-12 col-md-offset-3">
    <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-success pricing-big">
        <%= image_tag "ribbon.png", :class =>"ribbon"  %>
        <div class="panel-heading">
          <h3 class="panel-title">
            Light version</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
          <div class="the-price">
            <h1>
              <strong>FREE</strong></h1>
          </div>
          <div class="price-features" style="height:350px;">
            <ul class="list-unstyled text-left">
              <li><i class="fa fa-check text-success"></i>
                6 months free access to all premium features
                <label class="label label-success">Campaign !</label>
              </li>
              <li><i class="fa fa-check text-success"></i>
                <strong>Unlimited Browsing</strong>
                of Free/Paid Members (6 months)
                <label class="label label-success">Campaign !</label>
              </li>
              <li><i class="fa fa-check text-success"></i>
                <strong>
                  Send Unlimited</strong>
                Interests (6 months)
                <label class="label label-success">Campaign !</label>
              </li>
              <li><i class="fa fa-check text-success"></i>
                <strong>View Contact</strong>
                details on acceptance (6 months)
                <label class="label label-success">Campaign !</label>
            </li>
                <li><i class="fa fa-check text-success"></i>
                All time
                <strong>
                  updates</strong></li>
              <li><i class="fa fa-check"></i>
                <strong>Push Notifications</strong>
                </li>
            </ul>
          </div>
        </div>
              </div>
              <div class="panel-footer text-align-center">
        	<p>Upon Signing Up Today, Your account details will be considered as the <strong>Paid Member</strong> for 1 Year</p>
        	<div>
        		<a href="/users/sign_up" class="btn btn-info btn-block">Sign Up</a>
        	</div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 hidden-xs hidden-sm">
      <div class="panel panel-primary pricing-big">
        <div class="panel-heading">
          <h3 class="panel-title">
            Premium version</h3>
        </div>
        <div class="panel-body no-padding text-align-center">
          <div class="the-price">
            <h1>
              <strong style="text-decoration:line-through;"><i class="fa fa-rupee"></i> 3900</strong> Free</h1>
          </div>
          <div class="price-features" style="height:350px;">
            <ul class="list-unstyled text-left">
              <li><i class="fa fa-check text-success"></i>
                Unlimited access
              </li>
              <li><i class="fa fa-check text-success"></i>
                <strong>Unlimited Browsing</strong>
                of Free/Paid Members
              </li>
              <li><i class="fa fa-check text-success"></i>
                <strong>
                  Unlimited</strong>
                Interests
              </li>
              <li><i class="fa fa-check text-success"></i>
                <strong>View Contact</strong>
                details on acceptance</li>
              <li><i class="fa fa-check text-success"></i>
                All time
                <strong>
                  updates</strong></li>
              <li><i class="fa fa-check"></i>
                <strong>Push Notifications</strong>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-footer text-align-center">
      	<p>We are giving away free sign ups for 6 months. No credit card details are required ! <strong>Yes it is True</strong> for 6 months</p>
      	<div>
      		<a href="/users/sign_up" class="btn btn-info btn-block">Sign Up</a>
      	</div>
      </div>
    </div>
  </div>
</div>
