<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center error-box">
        <p class="lead">
          Connect with us on any of the social platforms you like. Your
          <b>Feedback</b>
          is always welcome to help improve our services
        </p>
        <p class="font-md">
          <b>Don't have a feedback.. Still just drop by to say
            <span class="font-lg">
              Hi !</span></b>
        </p>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-inline">
              <li>
                <h2><a href="javascript:void(0);"><i class="fa fa-fw fa-facebook fa-lg"></i></a></h2>
              </li>
              <li>
              </li>
              <li>
                <h2><a href="javascript:void(0);"><i class="fa fa-fw fa-twitter fa-lg"></i></a></h2>
              </li>
              <li>
              </li>
              <li>
                <h2><a href="javascript:void(0);"><i class="fa fa-fw fa-google-plus fa-lg"></i></a></h2>
              </li>
              <li>
              </li>
              <li>
                <h2><a href="javascript:void(0);"><i class="fa fa-fw fa-pinterest fa-lg"></i></a></h2>
              </li>
              <li>
              </li>
              <li>
                <h2><a href="javascript:void(0);"><i class="fa fa-fw fa-instagram fa-lg"></i></a></h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
