<!-- sparks -->
<ul id="sparks">
  <li class="sparks-info">
    <h5>
      Total Visitors
      <span class="txt-color-blue"><%= user[:visitors] %></span>
    </h5>
  </li>
  <li class="sparks-info">
    <h5>
      Last Active
      <span class="txt-color-blue"><%= time_ago_in_words(user[:updated_at]) %>
        ago</span>
    </h5>
  </li>
  <li class="sparks-info">
    <h5>
      Images
      <span class="txt-color-greenDark">
        <%= user[:image].count %>
      </span>
    </h5>
  </li>
</ul>
<!-- end sparks -->
