<%= render :partial =>'layouts/alert', :locals => {:heading => "Creating a beautiful, personalized web presence has never been simpler.", :description => "Having an about yourself text will make it easier for people to find and learn about you and your family", :icon=>"fa fa-pencil"}%>
<h3 class="">Write something
  <strong>About</strong>
  Yourself &
  <i>family</i></h3>
<%= form_tag({:action=>'modify_about'}, {:remote => true}) do %>
  <input type="hidden" name="me" id="about-me" type="hidden">
  <button type="submit" id="submit-about-me" class="btn btn-success pull-right hidden"></button>
<% end %>
  <fieldset>
    <div class="col-sm-12">
      <div class="click2edit"><%= raw @user[:about][:me] %>
      </div>
      <button id="edit" class="btn btn-xs btn-info pull-right" onclick="edit()"><i class="fa fa-edit"></i>
      Edit</button><i></i>
        <button id="save" type="submit" class="btn btn-xs btn-success pull-right" onclick="save()"><i class="fa fa-check"></i>
          Save</button>
        </div>
      </fieldset>
<script type="text/javascript">
  var edit = function() {
      $(".click2edit").summernote({
        focus: true,
        height: 350,
        toolbar: [['style', ['bold', 'italic', 'underline', 'clear']], ['fontsize', ['fontsize']], ['color', ['color']], ['para', ['ul', 'ol', 'paragraph']], ['height', ['height']], ['help', ['help']]]
  });
  
  };
  var save = function() {
    var aHTML = $('.click2edit').code();
    $("#about-me").val(aHTML);
    $("#submit-about-me").click();
    $('.click2edit').destroy();
  };
</script>
