<%= render :partial =>'layouts/alert'%>
<%= form_tag({:action=>'modify_about'}, {:remote => true}) do %>
  <input type="hidden" name="me" id="about-me" type="hidden">
  <button type="submit" id="submit-about-me" class="btn btn-success pull-right hidden">
    Save
  </button>
<% end %>
<button id="save" class="btn btn-link pull-right" onclick="save()" type="button">Save</button>
<button id="edit" class="btn btn-link pull-right" onclick="edit()" type="button">Edit</button>
<script type="text/javascript">
  var edit = function() {
      $('.click2edit').summernote({focus: true});
  };
  var save = function() {
                                var aHTML = $('.click2edit').code();
                                $("#about-me").val(aHTML);
                                $("#submit-about-me").click();
                                $('.click2edit').destroy();
                            };
</script>
<div class="click2edit"><%= raw @user[:about][:me] %>
</div>
