<%= render :partial =>'layouts/alert'%>
<div class="row">
  <%= form_tag({:action=>'remove_image'}, {:remote => true}) do %>
    <!-- SuperBox -->
    <div class="superbox col-sm-12">
      <% @user[:image].each do |image| %>
        <div class="superbox-list">
          <%= image_tag image.avatar.url(:thumb), {"data-img" => image.avatar.url(:original), :class => "superbox-img", "alt"=>"Edit this Image", :value=>image.id, :name=>"img", :id=>image.id} %>
        </div>
      <% end %>
      <input type="hidden" name="imageid" value="" id="imageid">
      <div class="superbox-float"></div>
    </div>
    <!-- /SuperBox -->
    <div class="superbox-show" style="height:300px; display: none"></div>
  <% end %>
</div>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-5">
  <header>
    <span class="widget-icon">
      <i class="fa fa-cloud"></i>
    </span>
    <h2>My Images Droparea!
    </h2>
  </header>
  <!-- widget div-->
  <div>
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
    </div>
    <!-- end widget edit box -->
    <!-- widget content -->
    <div class="widget-body">
      <%= form_tag({:action=>'modify_image'}, {:authenticity_token => true, :multipart => true, :remote => true, :class => 'dropzone', :id => 'my-dropzone'}) do %>
      <% end %>
    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</div>
<!-- end widget -->
